<div class="row">
    <div class="col-md-12" >
        <ul class="list-group">
            <li class="list-group-item list-group-item-action waves-light d-flex justify-content-between align-items-center" 
                    *ngFor="let todo of todos$ | async">
                    <span>{{todo.task}}</span>
                <span>
                    <mdb-badge
                        (click)="markStatus(todo.id, todo.completed)" 
                        [color]="todo.completed ? 'green':'gray'" class="pointed">
                        <mdb-icon fas [icon]="todo.completed ? 'check-double': 'circle'"></mdb-icon>
                    </mdb-badge> &nbsp;
                    <mdb-badge color="blue" (click)="onTodoSelected(todo)">
                        <mdb-icon fas icon="edit" ></mdb-icon>
                    </mdb-badge>
                    &nbsp;
                    <mdb-badge color="red" (click)="removeTodo(todo.id)">
                        <mdb-icon fas icon="trash-alt" ></mdb-icon>
                    </mdb-badge>
                </span>
            </li>
        </ul>
    </div>
</div>
